*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    min-height: 100 vh;
    background: linear-gradient(45deg,#002523,#2d002c);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding:1em 2em;
    background-color: #010029;
    border-radius: 1rem;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
}
button::before{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top right,#00fff7,#ff00f7);
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    border-radius: 1rem;
}
button:hover{
    z-index: 0;
    box-shadow: 25px 0 100px #e100ff, -25px 0 100px #008cff;
}

