Django==4.2.21
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
urllib3==2.4.0
pillow==11.1.0
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
django-redis==5.4.0
celery==5.5.2
django-celery-results==2.6.0
django-celery-beat==2.8.1    #для того чтобы в админке можно было запускать периодические задачи
django-environ==0.12.0
psycopg==3.2.9
flower==2.0.1
gunicorn==23.0.0  #это нам локально не нужно
# файлы которые нужны в докере
# pip freeze > requirements.txt