{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
{% endblock %}

{% block about %}
    <body>
    <header>
        <h1 class="lo">Каталог товаров</h1>
    </header>
    <div class="left">
        <a href="{% url 'main:main_page' %}" class="filter-btn">Назад</a>
    </div>


    <!-- Выпадающий фильтр по категориям -->
    <div class="category-filter">
        <label for="categorySelect"></label>
        <select id="categorySelect" class="category-dropdown"
                onchange="window.location.href = '/catalog/' + this.value + '/'">
            {% tag_categories as categories %}
            {% for category in categories %}
                <option value="{{ category.slug }}"
                        {% if l != None %}{% if category.slug == l %}selected{% endif %}>
                            {% else %}{% if category.slug == slug %}selected{% endif %}>{% endif %}
                        {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <!-- Форма поиска -->
    <form role="search" method="get" action="{% url 'catalog:search' %}?category={{ slug }}" class="search-container">
        <label>
            <input type="search" name="q" class="search-box" placeholder="Поиск по товарам...">
            <input type="hidden" name="category" value="{% if request.GET.category %}{{ request.GET.category }}{% else %}{{ slug }}{% endif %}">
            <button type="submit" class="search-btn">🔍</button>
        </label>
    </form>
    <main class="catalog">
        {% for product in products %}
            <div class="product-card description" data-category="{{ product.category.id }}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <h2>id - {{ product.display_id }}</h2>
                <p class="price">{{ product.price }} $</p>
                <a class="filter-btn" href="{% url 'goods:product' product.slug %}{% if request.GET.category %}?q={{ request.GET.q }}&category={{ l }}{% else %}?category={{ slug }}{% endif %}&page={{ page }}">Подробнее</a>
            </div>
        {% endfor %}
    </main>
    <img src="{% static 'main/image/back.png' %}" alt="" class="background-image">
    <script src="{% static 'main/js/catalog.js' %}"></script>
    {% if products %}
        <div class="pagination">
            <a class="page-btn {% if not products.has_previous %}disabled{% endif %}" href="?{% change_param page=1 %}">Первая</a>
            {% if products.has_previous %}
                <a class="page-btn" href="?{% change_param page=products.previous_page_number %}">‹</a>
            {% else %}<span class="page-btn disabled">‹</span>
            {% endif %}
            <span class="current-page">Страница {{ products.number }} из {{ products.paginator.num_pages }}</span>
            {% if products.has_next %}
                <a href="?{% change_param page=products.next_page_number %}" class="page-btn">›</a>
            {% else %}<span class="page-btn disabled">›</span>
            {% endif %}
            <a href="?{% change_param page=products.paginator.num_pages %}"
               class="page-btn {% if not products.has_next %}disabled{% endif %}">Последняя</a>
        </div>
    {% else %}
        <div class="nothing-find">
            <p>Ничего не найдено...</p>
        </div>
    {% endif %}
    </body>
{% endblock %}

