{% extends "main/base.html" %}
{% load goods_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
{% endblock %}
{% block about %}

<body>

<div class="top-right">
    <a href="{% url 'main:button' %}" class="btn">dfofdp</a>
</div>
<div class="left-column">
    {% tag_categories as categories %}
    {% for category in categories %}
    {% endfor %}
    <a href="{% url 'catalog:index' category_slug='all' %}" class="btn">{{ button_1 }}</a>
</div>
</body>
<a href="#" class="image">
    <img src="{% static 'main/image/basket.png' %}" class="image" alt="Корзина">
</a>
<img src="{% static 'main/image/city.png' %}" alt="" class="background-image">

{% endblock %}
{% block footer %}
<footer>
    <p>Copyright © 2043-2088 NeuroForge. Все права защищены.</p>
    <a href="{% url 'main:about_us' %}">{{ button_2 }}</a>
    <p>Связаться с нами: support@neuroforge.com</p>
</footer>
{% endblock %}

