{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
{% endblock %}

{% block about %}
<body>
<header>
    <h1>Каталог товаров</h1>
</header>
<main class="catalog">
    <div class="product-card">
        <img src="{% static 'main/image/product1.png' %}" alt="Product 1">
        <h2>Товар 1</h2>
        <p class="price">Цена: 5000 ₽</p>
        <button class="filter-btn">Заказать</button>
    </div>

    <div class="product-card">
        <img src="{% static 'main/image/product2.png' %}" alt="Product 2">
        <h2>Товар 2</h2>
        <p class="price">Цена: 7500 ₽</p>
        <button class="filter-btn">Заказать</button>
    </div>

    <!-- Повторите для других товаров -->
</main>
</body>
{% endblock %}
